
.container {
    display: flex;
   box-sizing: border-box;
   width: 90%;
}

.sidebar {
    background-color: #F4EFEC;
    width: 350px;
    Height:100vh; /* Full viewport height */
    padding: 20px 10px;
    box-sizing: border-box;
}

.searchbox{
    position: relative;
    display: inline-block;
}

.searchbox input[type="text"] {
    border: none;
    padding: 10px;
    padding-right: 40px;
    margin-top: 8px;
    margin-left:14px;
    border-radius: 10px;
    width: 270px;
    font-size: 14px;
     color: #1E1D1D;
     box-sizing: border-box;
}

.search-button{
    border: #F5802A;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    padding: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button img {
    cursor: pointer;
}

.search-button:hover {
    /* background-color: #ccc; */
    border:#F5802A;
}

.search-button:hover img {
    filter: brightness(1.2); /* slight highlight */
    transform: scale(1.5); /* gentle zoom */
    transition: all 0.2s ease;
}

/* .search-button:focus {
    outline: 2px solid #007BFF;
    border-radius: 5px;
} */

.h1-weather {
    font-size: 24px;
    margin-left: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.image-weather{
    width:200px;
     height:auto;   
}

.h1-weather-temp{
     font-family:Arial, Helvetica, sans-serif;
     font-weight:bold;
     margin-left: 14px;;
     font-size: 28px;
     margin-bottom: 11px;
}

.h3-datetime{
    margin-left: 14px;
    font-family:Arial, Helvetica, sans-serif;
     font-weight:lighter;
     font-size: 14px;
     margin-top: 4px;   
}

.box-location{
    border-radius: 15px;
    width: 270px;
    height: 50px;
    background-color: #F5802A;
    margin-left: 14px;
    margin-top:30px;
    position: relative;
    display: flex;
    align-items: center;

}

.icon-location{
padding-right: 12px;
margin-left:14px;
}

.p-location{
   font-family:Arial, Helvetica, sans-serif;
     font-weight:lighter;
     font-size: 14px;
}

.box-description{
    border-radius: 15px;
    width: 270px;
    height: 50px;
    background-color: #CBE16A;
    margin-left: 14px;
    margin-top:13px;
    position: relative;
    display: flex;
    align-items: center;
}

.icon-description{
padding-right: 12px;
margin-left:14px;
}

.p-description{
   font-family:Arial, Helvetica, sans-serif;
     font-weight:lighter;
     font-size: 14px;
}

.box-rain{
    border-radius: 15px;
    width: 270px;
    height: 50px;
    background-color:white;
    margin-left: 14px;
    margin-top:13px;
    position: relative;
    display: flex;
    align-items: center;
}

.icon-rain{
padding-right: 12px;
margin-left:14px;
}

.p-rain{
   font-family:Arial, Helvetica, sans-serif;
     font-weight:lighter;
     font-size: 14px;
}



.h2-thisweek {
    font-size: 17px;
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 40px;
}

.box-week{
    display: flex;
     margin-left: 40px;
    margin-top: 30px;
    gap: 8px;

}
    
.box-sun,
.box-mon,
.box-tue,
.box-wed,
.box-thu,
.box-fri,
.box-sat {
    height: 135px;
    width: 125px;
    background-color: #F4EFEC;
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1px;
}

.p-sun{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    
}

.p-temp{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    
}

.box-highlights{
    display: flex;
     margin-left: 40px;
    margin-top: 30px;
    gap: 8px;

}

.box-uvindex {
    height: 135px;
    width: 325px;
    background-color: #F4EFEC;
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1px;
}

.p-uvindex{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    
}


@media (max-width: 600px) {
   .container {
       width: 100%;
       padding: 10px;
   }
   .sidebar {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
    }
}
   